<style></style>
<div id="template-popup" class="template-popup">
<% if template.branch.forum_type=='vote'  %>
<%= render :partial=>'/templates/vote_stats', :locals=>{:branch=>template.branch} %>
<% end %>
<%= form_for template, :url=> templates_path, :html => {:method=>'post',:multipart => true, :id=>"frm-upload-logo"} do |f| %>
<div class="inputSpacing"> 
  <input type="hidden" name="todo" value="" />
  <%= f.hidden_field :name %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :branch_id %>
		<input type="hidden" name="branch_id" value="<%= template.branch_id %>" />
		<div class='error'>
    <%= flash[:error] %>
  </div>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
  <div class='error'>
    <%= flash[:error] %>
  </div>
  
  <div style="margin: 10px;">
    <input type="radio" name="recording" value="Browse" checked> Browse </input>
    <input type="radio" name="recording" value="Record"> Record</input>
  </div>  
  
  <p></p>
  <h3><% 
      saved = template.is_active ? ' and saved' : ''
      if !!template.audio_link %>
         You have uploaded a file previously<%= saved %>.
         <br/>
      <% end %>
    Select your <%= template.name_map(template.name) %> audio file to upload</h3>
  <div class='fileBrowseWrap'>
    <%= f.file_field :sound %>
  </div>
  <!--
     recorder here
  -->
  <div class="btnUploadWrap">
    <span><%= submit_tag 'Preview', :id=>"preview", :value=>"Upload",:class=>"btnAction" %></span>
    <% if (template.name=~/_result/) && !!template.audio_link %>
      <span><%= submit_tag 'Save', :id=>"save", :class=>"btnAction" %></span>
    <% end %>
    <span><%= submit_tag 'Cancel', :id=>"cancel", :class=>"btnAction" %></span>
  </div>
  <div class="clear">
    <% if !!template.audio_link %>
      <%= player(template, false) %>
    <% end %>
  </div>
  
</div>
<% end %>
</div>

