<div id="forum-template" class="float-left">
  <span class="back-button"><a href="/branch?branch=<%=@branch_name%>">Back To Branch Configure</a></span>
  <h2><%= forum_type(@branch) %></h3>
  <span style="font-size: 20px;">
  <% if @branch.current_forum_session
       msg = "#{@branch.current_forum_session.name} for Branch #{@branch.name}"
     else
       msg = "<span class='error'>No Forum Selected. Select a Forum First</span>"
     end
   %>
  <%= msg.html_safe %>
  </span>
  <br/><br/>
  <% if @temp_partial =~ /_result/
       result=1
     else
       result = 0
     end
  %>
  <span style="font-size: 20px;"><a id="validate" data-url="/branch/validate_forum?id=<%=@branch.id %>&result=<%=result%>">Validate Forum</a><span>

  <br/><br/><input type="hidden" name="branch" id="branch-name" value="<%=@branch_name%>" />
  <%= render :partial => @temp_partial %>
</div>
<div id="forum-upload" class="float-left"></div>
<div id="validate-forum" class="helpPopUp"></div>

<!--
<%# if @branch.forum_type=="report" %>
<div id="report-upload" class="helpPopUp" style="margin: 10px;">
  <%#= render :partial=>'upload_report' %>
</div>
<%# end %>
-->

<!--
<div id="moderate-div" class="helpPopUp float-right">
  <div style="width: 780px" class="template-popup">
  <style></style>
  <%#= render :partial=>'/moderation/search_results' %>
  </div>
</div>
-->
<script>
  jQuery(document).ready(function () { 
    reportUpload.init("<%= @branch.forum_type %>");
    sortable.init(<%= @branch.id %>);
  });
</script>
<script src="/assets/jRecorder.js"></script>
<script>
$(function() {
  $.jRecorder({
	   host:"/templates/record?branch_id=<%= @branch.id%>",
      callback_started_recording : function() {
        callback_started();
      },
      callback_stopped_recording : function() {
        callback_stopped();
      },
      callback_activityLevel : function(level) {
        callback_activityLevel(level);
      },
      callback_activityTime : function(time) {
        callback_activityTime(time);
      },
      callback_finished_sending : function(time) {
        // callback_finished_sending()
        $('#status').html('Audio has been sent to Dropbox');
      },
      swf_path:'/inc/jRecorder.swf'
  });
});
</script>


