<div id="forum-template" class="float-left">
  <span class="back-button"><a href="/branch?branch=<%=@branch_name%>">Back To Branch Configure</a></span>
  <h2><%= forum_type(@branch) %></h3>
  <span style="font-size: 20px;"><%= @branch.current_forum_session.name %> for Branch <%= @branch.name %></span>
  <br/><br/><input type="hidden" name="branch" id="branch-name" value="<%=@branch_name%>" />
  <%= render :partial => @temp_partial %>
</div>
<div id="forum-upload" class="float-left"></div>

<!--
<%# if @branch.forum_type=="report" %>
<div id="report-upload" class="helpPopUp" style="margin: 10px;">
  <%#= render :partial=>'upload_report' %>
</div>
<%# end %>
-->

<div id="moderate-div" class="helpPopUp float-left">
  <%#= render :partial=>'/shared/sortable' %>
  <div style="width: 700px" class="template-popup">
  <style></style>
  <%= render :partial=>'/moderation/search_results' %>
  </div>
</div>
<script>
  jQuery(document).ready(function () { 
    reportUpload.init("<%= @branch.forum_type %>");
    sortable.init(<%= @branch.id %>);
  });
</script>