<style></style>
<div id="Atemplate-popup" class="Atemplate-popup" style="width: 450px;">
<h2 id="create-branch">Create Branch</h2>
<%= form_for @branch, :url=> "/branch", :html => {:method=>'post',:multipart => true, :id=>"frm-new-branch"} do |f| %>
<div class="inputSpacing">
  <div class='error'>
    <%= flash[:error] %>
  </div>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
  <div class="clear"></div>
  <label for="branch_name">Name </label>
  <%= f.text_field :name, :placeholder=>"myBranch" %>
  <p></p>
		<label for="country_flag_url">Country Flag URL </label>
  <%= f.text_field :country_flag_url, :placeholder=>"" %>
  <p></p>
		<label for="latitide">Latitude</label>
  <%= f.text_field :latitude, :placeholder=>"" %>
  <p></p>
		<label for="longitude">Longitude </label>
  <%= f.text_field :longitude, :placeholder=>"" %>
  <p></p>
		<label for="contact">Contact </label>
  <%= f.text_field :contact, :placeholder=>"" %>
  <p></p>
		<label for="ivr_call_number">IVR Call Number </label>
  <%= f.text_field :ivr_call_number, :placeholder=>"" %>
  <p></p>
		<label for="client_ip_address">Client IP Address </label>
  <%= f.text_field :client_ip_address, :placeholder=>"" %>
  <p></p>
  <label for="branch_forum_type">Forum&nbsp;Type </label>
  <% options = forum_options 
     id = @branch.forum_type %>
  <%= f.select :forum_type, options_for_select(options, id), :style=>'' %>
  
  <p></p>
  <label for="soundcloud_client_id">Soundcloud ClientId </label>
  <%= f.text_field :soundcloud_client_id, :placeholder=>"", :value=>"#{@branch.soundcloud_client_id}" %>
  <p></p>
  <label for="soundcloud_client_secret">Soundcloud ClientSecret </label>
  <%= f.text_field :soundcloud_client_secret, :placeholder=>"", :value=>"#{@branch.soundcloud_client_secret}" %>
  <p></p>
  <label for="soundcloud_access_token">Soundcloud AccessToken </label>
  <%= f.text_field :soundcloud_access_token, :placeholder=>"", :value=>"#{@branch.soundcloud_access_token}" %>
  <span><a href="#" id="get-access_token">Get&nbsp;Access&nbsp;Token</a></span>
  <p></p>
  <label for="ftp_user">FTP Server </label>
  <%= f.text_field :ftp_server, :placeholder=>"", :value=>"#{@branch.ftp_server}" %>
  <p></p>
  <p></p>
  <label for="ftp_user">FTP User </label>
  <%= f.text_field :ftp_user, :placeholder=>"", :value=>"#{@branch.ftp_user}" %>
  <p></p>
  <label for="ftp_pwd">FTP Pwd </label>
  <%= f.text_field :ftp_pwd, :placeholder=>"", :value=>"#{@branch.ftp_pwd}" %>
  <p></p>
  <label for="ftp_path">FTP Path </label>
  <%= f.text_field :ftp_path, :placeholder=>"", :value=>"#{@branch.ftp_path}" %>
  
  <!--
  <p></p>
  <%# id=@branch.feed_source
     options = [['--Select--','0'],['dropbox','dropbox'],['static_rss','static_rss']]
    %>
  <label for="branch_feed_source">Feed&nbsp;Source </label>
  <%#= select_tag 'branch[feed_source]', options_for_select(options, id), :style=>'' %>
  <p></p>
  <label for="branch_feed_url">Feed&nbsp;Url </label>
  <%# id=@branch.feed_url %>
  <%#= text_field_tag 'branch[feed_url]', id, :style=>'' %>
  <p></p>
  <label for="branch_limit">Feed&nbsp;limit </label>
  <%# id=@branch.feed_limit %>
  <%#= text_field_tag 'branch[feed_limit]', id, :style=>'' %>
  -->
  <p></p>
  <label for="branch_country_id">Country </label>
  <% options = Country.all.map{|b| [b.name, b.id]} 
     id = @branch.country ? @branch.country.id : 0
   %>
  <%= f.select :country_id, options_for_select(options, id), :style=>'' %>
  <p></p>
		<label for="branch_is_active">Is Active? </label>
  <% options = [['False', 0], ['True', 1]] %>
  <%= f.select :is_active, options_for_select(options, 1), :style=>'' %>
  <p></p>
  <label for="branch_description">Description</label>
  <%= f.text_area :description %>
  <div class="btnUploadWrap">
    <span><%= submit_tag 'Save', :id=>"save", :class=>"btnAction" %></span>
    <span><%= submit_tag 'Cancel', :id=>"cancel", :class=>"btnAction" %></span>
  </div>
  
</div>
<% end %>
</div>

