<div id="branch" class="float-left"> 
  <input type="hidden" name="todo" value="" />
  <% options = Branch.where("is_active=1").map{|b| [b.name, b.id]}
     options.unshift ["--Select Branch--","0"] %>
  <p>Select Branch</p>
  <%= select_tag 'record[id]', options_for_select(options, '0'), :style=>'' %>
  <p>  
  <p>
    <%= submit_tag 'Create Branch', :id=>"create", :class=>"btnAction" %>
  </p>
  <p>
  <%= radio_button_tag 'forum_type', 'report' %>&nbsp;Report
  <%= radio_button_tag 'forum_type', 'bulletin' %>&nbsp;Bulletin Board
		<%= radio_button_tag 'forum_type', 'vote' %>&nbsp;Vote
  <%= radio_button_tag 'forum_type', 'poll' %>&nbsp;Poll
  </p>
  <p id="return-msg" class="notice"></p>
  <p>
  <a id="go-template" class="go-template" href="/templates">Edit Forum</a>
		</p>
		<p>
		<a id="go-template-result" class="go-template" href="/templates">Edit Forum Result</a>
  </p>
</div>
<div id="new-branch" class="float-left">
  
</div>

<script>
  jQuery(document).ready(function () { 
    branchManage.init();
  });
</script>