<div id="branch" class="Amodule branch-configuration-body">
  <h2>Branch Configuration</h2>
  <div class="select-branch">
    <h4>Select Branch</h4>
    <form action="" method="get">
      <% options = Branch.where("is_active=1").map{|b| [b.name, b.id]}
         options.unshift ["--Select Branch--","0"] 
         id = !!@branch ? @branch.id : 0
      %>
      <%= select_tag 'record[id]', options_for_select(options, id), :style=>'' %>
    </form>
    <%= submit_tag 'Create Branch', :id=>"create", :class=>"create-branch ZbtnAction" %>&nbsp;&nbsp;
    <%= submit_tag 'Delete Branch', :id=>"delete", :class=>"create-branch" %>
  </div>
  <div id="new-branch" class="float-left helpPopUp"></div>
  <p id="return-msg" class="notice"></p>

  <p>
  <a id="go-template" class="go-template" href="/templates">Edit Forum</a>
  <span id="go-template-hint" class="go-template-hint"></span>
  </p>
  <p>
  <a id="go-template-result" class="go-template" href="/templates?result=1&branch=Accra">Edit Forum Result</a>
  </p>

  
  <h3>Select Forum Type</h3>
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li id="report" class="TabbedPanelsTab listen" tabindex="0">
        <a href="#"><%= Branch.forum_type_ui('report') %></a>
      </li>
      <li id="vote" class="TabbedPanelsTab publish" tabindex="0">
        <a href="#"><%= Branch.forum_type_ui('vote') %></a>
      </li>
      <!--
      <li id="vote_ended" class="TabbedPanelsTab publish" tabindex="0">
        <a href="#"><%= Branch.forum_type_ui('vote_ended') %></a>
      </li>
      -->
      <li id="bulletin" class="TabbedPanelsTab syndicate" tabindex="0">
        <a href="#"><%= Branch.forum_type_ui('bulletin') %></a>
      </li>
      <li class="vertical-line"></li>
      
      <li id="select-forum" class="TabbedPanelsTab syndicate" tabindex="0" data-url="/branch/select_forum">
        <a href="#">Select Forum</a>
      </li>
      
      <li id="preview-forum" class="TabbedPanelsTab syndicate" tabindex="0" data-url="/branch/preview_forum">
        <a href="#">Privew Voice Forum</a>
      </li>
      
      <li id="activate-forum" class="TabbedPanelsTab syndicate" tabindex="0" data-url="/branch/activate_forum">
        <a href="#">Activate Forum</a>
      </li>
      <!--
      <li id="syndicate-forum" class="TabbedPanelsTab syndicate" tabindex="0" data-url="/branch/syndicate">
        <a href="#">Syndicate Voice Forum</a>
      </li>
      -->
    </ul>
  </div>
  <div id="forum-select" class="float-left helpPopUp popup">
    <%#= render :partial=>'select_forum' %>
  </div>
  <div id="forum-preview" class="float-left helpPopUp popup">
    <%#= render :partial=>'/shared/audio_player' %>
  </div>
  
  <div id="forum-audio-upload" class="float-left forum-upload helpPopUp popup"></div>
  <div id="forum-activate" class="float-left helpPopUp popup">
    <%#= render :partial=>'activate_forum' %>
  </div>
  <div id="forum-syndicate" class="float-left helpPopUp popup"></div>
 
  <div>
  <%# @branch = Branch.find(13) if !@branch %>
     <%#= render :partial=>'/shared/sortable' if @branch %>
  </div>
</div>
<style></style>
<script>
  jQuery(document).ready(function(){
      branchManage.init();
      // var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
  });
</script>
