<h2>Top Activity</h2>
<table border="0" cellspacing="0" cellpadding="0">
	 <% Branch.top_activity.each do |e| %>
  <tr>
    <td class="flag">
      <img src="<%=e.branch.country_flag_url || '/assets/images/flag-tanzania.png' %>" width="35" height="34" alt="Tanzania flag">
    </td>
    <td class="country">
      <%= e.branch.country.name %>
    </td>
    <td class="phone">
      <%= @calls[e.branch.id][:total] || 0 %>
    </td>
    <td class="message left-nav-bar" data-url="/moderation">
      <%= @messages[e.branch_id][:total] || 0 %>
    </td>
    <td class="alert left-nav-bar" data-url="/healthcheck">
      <%= e.branch.health_image.html_safe %>
    </td>
  </tr>
  <% end %>
</table>
<script>
  $(document).ready( function() {
  //  blinkeffect('img.red-light');
  });
</script>
