<% if @branch %>
<style></style>
<div style="width: 400px;">
  <h2 title="/shared/_audio_player"><%= @branch.name %> : <%=@branch.current_forum_session.name%></h2>
  <% audios = audio_players(@branch) %>
   <% audios.each do |a| %>
     <span><b><%= a[0] %></b></span>
     <span><%= a[1] %></span>
     <!-- <span><%= a[2] %></span> edit forum -->
     <br/></br/>
  <% end %>
  <div id="branch-id" data-url="<%= @branch.id%>">
    <!-- span><%= submit_tag 'Cancel',:id=>"cancel",:class=>"btnAction" %></span -->
  </div>
</div>

<% if @branch.forum_type=="report" %>
<div id="report-upload" class="helpPopUp popup" style="display:none;">
  <%= render :partial=>'/templates/upload_report' %>
</div>
<% end %>

<script>
jQuery(document).ready(function(){
  $(".audio").mb_miniPlayer({
    width:240,
    inLine:false,
    id3:false
  });
  
  $("#cancel").on('click', function(e) {
    $('#forum-preview').removeClass('helpPopUp');
	 $('#forum-preview').hide();
	 return false;
  });
		
});
</script>
<% end %>

		