<style>
	.gmaps4rails_map {
	  width: <%= @map_width || '100%' %>;
    height: <%= @map_height || '425px' %>;
	  /*
		width: 100%;
		height: 425px;
		*/
	}
div#ft {
    border-top: 2px solid black;
}
div#ft p {
    width: 500px;
    margin: 1em auto;
}
.tooltip { position:absolute;
	width: 145px;
	padding: 5px;
	border: 1px solid gray;
	font-size: 9pt;
	font-family: Verdana;
	background-color: #fff;
	color: #000;
}
</style>

<% data = []
   Branch.where("is_active=1 AND latitude is not null").each do |b|
     data << {:description=>"#{b.gmaps4rails_infowindow}", :title=>"#{b.gmaps4rails_infowindow}",  
       "lat"=> "#{b.latitude}", "lng"=>"#{b.longitude}", "picture"=> "assets/radio-wave.png",
       "width"=> "50", "height"=> "35" }
   end
  
%>

<%= gmaps({
 "map_options" => {:raw => '{scaleControl:true}', "key"=>"AIzaSyCV9RHwmQvNTaEkpeVAZhg5hwDmd7x6Ed8","type" => "ROADMAP", "center_latitude" =>32.930011, "center_longitude" => 43.417969, "zoom" => 3, "auto_adjust" => false},
 "" => {}
 })
%>
<%#= gmaps({
 "map_options" => {:raw => '{scaleControl:true}', "key"=>"AIzaSyCV9RHwmQvNTaEkpeVAZhg5hwDmd7x6Ed8","type" => "ROADMAP", "center_latitude" =>32.930011, "center_longitude" => 43.417969, "zoom" => 3, "auto_adjust" => false},
 "markers" => {"data" => "#{data.to_json}"},
 "" => {}
 })
%>

<div id="ft">
  <p><strong>Latitude, Longitude:</strong> <span id="latlon">
32.930011, 43.417969</span></p>
</div>

<script>

</script>
<script>
jQuery(document).ready(function() {
	  Gmaps.map.callback = function() {
	     LoadBbgMap();
			 googleMapCallback();
			 var myBounds = new google.maps.LatLngBounds();
			 <% Branch.where("is_active=1 AND latitude is not null").each_with_index do |b, i| %>
					 var infowindow<%=i%> = new google.maps.InfoWindow({
           content: '<%= b.gmaps4rails_infowindow %>'
           });
        var image = {
        url: "<%= b.gmap_marker%>",
        // The origin for this image is top-left of the image .
        origin: new google.maps.Point(0,0),
        // The anchor for this image is the base of the flagpole at 0,32.
        <% if b.gmap_marker =~/radio-wave/ %>
           size: new google.maps.Size(45,35),
           // positive number goes down or right
           anchor: new google.maps.Point(20,30),
        <% else %>
           size: new google.maps.Size(20,20),
           anchor: new google.maps.Point(10,10)
        <% end %>
        };

        var myLatlng = new google.maps.LatLng(<%= b.latitude %>, <%= b.longitude %>);
        var marker<%=i%> = new google.maps.Marker({
            position: myLatlng,
            map: Gmaps.map.map,
          <% if 1==0 && b.unhealth? %>  animation: google.maps.Animation.BOUNCE, <% end %>
					  icon: image,
            title: '<%#= b.gmaps4rails_infowindow %>'
        });
        myBounds.extend(myLatlng);
        google.maps.event.addListener(marker<%=i%>, 'click', function() {
           infowindow<%=i%>.open(Gmaps.map.map,marker<%=i%>);
        });
	     <% end %>
	     // auto center and zoom
       // Gmaps.map.map.fitBounds(myBounds); 
   };

});
</script>
