<% @entries.each do |e| %>
  <%= e.branch.name %> <%= e.created_at.to_s(:db) %>
  <a id="<%=e.id%>" class="audio {ogg:'http://www.miaowmusic.com/ogg/Miaow-02-Hidden.ogg',autoplay:false, inLine:true}"
       href="/entries/<%=e.id%>/play"><%= e.dropbox_file %></a>
		<button onclick="$('#<%=e.id%>').mb_miniPlayer_stop()">stop</button>
  <button onclick="$('#<%=e.id%>').mb_miniPlayer_play()">play</button>
  <br/>
<% end %>
<%= paginate @entries %>