<table id="search-results-id">
<% if @results.size > 0 %>
<%= paginate @results %>
<thead>
      <tr>
        <th>Message</th>
								<th>Date</th>
        <th>Branch</th>
        <th>Country/Location</th>
        <th>Contact</th>
      </tr>
</thead>
<tbody>
<% @results.each do |e| %>
<tr>
   <td>
   	<% if e.dropbox_file_exists? %>
      <a id='<%=e.id%>' class="audio2 {ogg:'/entries/<%=e.id%>/play',autoplay:false, inLine:true}"
       href='/entries/<%=e.id%>/play'><%= e.dropbox_file %></a>
				<% else %>
				   <%= "#{e.dropbox_file} Not Found" %>
				<% end %>
   </td>
   <td>
      <%= e.branch.name %>
   </td>
			<td>
      <%= e.created_at.to_s(:db) %>
   </td>
   <td>
      <%= e.branch.country.name %>
   </td>
   <td>
      <%= e.branch.contact %>
   </td>
</tr>
<% end %>
</tbody>
</table>
<script>
jQuery(document).ready(function(){
    $('.audio2').mb_miniPlayer({
       width:240,
       inLine:false,
       id3:false
    });
});
</script>
<% else %>

<% end %>