
<p style="border-top: 1px solid #CCC">
To reorder the rows, drag a row up or down.<br/>
To save the order, click the checkbox of the items and click Save
</p>
<%= submit_tag 'Disable Sorting', :id=>"enable", :class=>"btnAction", :onclick=>'sortTable.toggle();' %>
<%= submit_tag 'Save', :id=>"moderate", :class=>"btnAction", :onclick=>'sortTable.showIds();' %>
<% if @controller=='templates' %>
  <%= submit_tag 'Cancel', :id=>"cancel", :class=>"btnAction" %>
<% end %>
<br/>
<table id="search-results-id">
<% if @results.size > 0 %>
<%= paginate @results %>
<thead>
      <tr>
        <th>Order</th>
        <th>Message</th>
        <th><a id="branches.name">Branch</a></th>
        <th><a id="entries.created_at">Date</a></th>
        <th>Dropbox</th>
        <th>SoundCloud</th>
        <th>FTP</th>
        <th>Widget</th>
        <th>Action</th>
        <th><a id="countries.name">Country/Location</a></th>
        <th><a id="branches.contact">Contact</a></th>
      </tr>
</thead>
<tbody>
<% @results.each do |e| %>
<% 
   if e.kind_of?(Entry)
     entry = e
   else
     entry = e.entry
   end
   eid = entry.id
   if entry.public_url
     publish="<a href='#{entry.public_url}' onclick=\"OpenWin('#{entry.public_url}');return  false;\">Dropbox</a>".html_safe
   else
     publish = "<a id='P#{eid}' data-url='/moderation/#{eid}/edit/?publish=1'>Publish</a>".html_safe
   end

   if entry.soundkloud
     syndicate = "<a href='#{entry.soundkloud.url}' onclick=\"OpenWin('#{entry.soundkloud.url}');return  false;\">SoundCloud</a>".html_safe
     playlist="<a id='S#{eid}' data-url='/moderation/#{eid}/edit/?playlist=1'>Playlist</a>".html_safe
   else
     syndicate="<a id='S#{eid}' data-url='/moderation/#{eid}/edit/?syndicate=1'>Syndicate</a>".html_safe
     palylist = ''   
   end
   if entry.ftp_url
     akamai="<a href='#{entry.ftp_url}' onclick=\"OpenWin('#{entry.ftp_url}');return  false;\">FTP</a>".html_safe
   else
     akamai = "<a id='P#{eid}' data-url='/moderation/#{eid}/edit/?akamai=1'>FTP</a>".html_safe
   end
   
   title1 = !entry.is_private ? 'Message is public' : 'Make Dropbox file public' 
   title1 = "#{eid} #{title1}"
   title2 = !!entry.soundkloud ? 'Message is in SoundCloud' : 'Syndicate Dropbox file to SoundCloud' 
   title3 = entry.ftp_url ? 'Message is in FTP server' : 'FTP upload' 
%>
<tr id="<%= eid %>">
   <td>
     <input type="checkbox" id="M<%= eid %>" value="" <%= 'checked' if entry.checked? %> />
   </td>
   <td>
     <% if entry.dropbox_file_exists? %>
      <a id='<%=eid%>' class="audio2 {ogg:'/entries/<%=eid%>/play',autoplay:false, downloadable:false,inLine:true}"
       href='/entries/<%=eid%>/play'><%= entry.dropbox_file %></a>
       <a target="_blank" title="Download <%= entry.dropbox_file %>" href='/entries/<%=eid%>/play'>
        Download
       </a>
     <% else %>
     <%= entry.dropbox_file %> missing
     <% end %>
   </td>
   <td>
      <%= entry.branch.name %>
   </td>
   <td>
      <%= entry.created_at.to_s(:db) %>
   </td>
	 <td title="<%= title1 %>" class="publish-syndicate">
	   <%= publish %>
   </td>
   <td title="<%= title2 %>" class="publish-syndicate">
      <%= syndicate %>
   </td>
   <td title="<%= title3 %>" class="publish-syndicate">
      <%= akamai %>
   </td>
   <td title="Get SoundCloud Playlist Widget" class="publish-syndicate">
      <%= playlist %>
   </td>
   <% if e.is_active == true %>
   <td title="Delete this message" class="publish-syndicate">
      <a id='D<%= eid %>' data-url="/moderation/<%= eid %>/edit/?delete=1">Delete</a>
   </td>
   <% else %>
   <td title="Unelete this message" class="publish-syndicate">
      <a id='D<%= eid %>' data-url="/moderation/<%= eid %>/edit/?undelete=1">Undelete</a>
   </td>
   <% end %>
   <td>
      <%= entry.branch.country.name %>
   </td>
   <td>
      <%= entry.branch.contact %>
   </td>
</tr>
<% end %>
</tbody>
</table>
<script>
jQuery(document).ready(function(){
    sortTable.init("search-results-id","audio2", "enable");
});
</script>
<% else %>

<% end %>
