<% @branches.each do |branch|%>
      <tr>
        <td class="branch-name" id="<%= branch.id %>" data-url="/healthcheck/<%= branch.id %>/edit">
          <%= branch.name%>
        </td>
        <td class='branch-name-tip' title="<%= branch.title_infowindow %>">
           <%= branch.health_image.html_safe %>
        </td>
        <td>
          <a class="branch-name" id="<%= branch.id %>" data-url="/healthcheck/<%= branch.id %>/edit">
          Edit
          </a>
        </td>
        <td>
          <%= branch.country.name%>
        </td>
        <td>
          <%= branch.contact%>
        </td>
      </tr>
<% end %>
<script>
   jQuery(document).ready(function(){
     $('.branch-name-tip').tooltip({
      // this code make line break
         content: function() {
           return $(this).attr('title');
         }
      });
  });
</script>