<!DOCTYPE html>
<html>
  <head>
    <title>BBG IVR</title>
    <!-- <META HTTP-EQUIV="refresh" CONTENT="60" /> -->
		<%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'application.js' %>
    <%= stylesheet_link_tag "SpryTabbedPanels.css" %>
				<%#= javascript_include_tag 'SpryTabbedPanels.js' %>
    <%= stylesheet_link_tag "all" %>
	  <%= stylesheet_link_tag "as_overrides" %>
	  <script src="/jquery.mb.miniAudioPlayer-1.7.1/inc/jquery.jplayer.min.js?body=1" type="text/javascript"></script>
    <script src="/jquery.mb.miniAudioPlayer-1.7.1/inc/jquery.mb.miniPlayer.js?body=1" type="text/javascript"></script>
    <link href="/jquery.mb.miniAudioPlayer-1.7.1/css/miniplayer.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
      <!-- Start Left side nav -->
      <nav id="sidebar">
        <%= render :partial=>'shared/side_nav' %>
      </nav>
      <!-- End Left side nav --><!--Module is the container class of the right content area -->
      <div class="module <%= @controller %>">
        <div class="controls" >
          <%= render :partial=>'shared/header' %>
        </div>
		  <div class="content" id="content">
           <p class="alert"><%= alert %></p>
           <%= yield %>
        </div>
      </div>
      <!-- End Module -->
    </div>
    <!-- End Wrapper -->
		<%= yield :scripts %> <!-- (in your footer) -->
    <script>
      jQuery(document).ready(function(){
          homePage.init("content");
          autoRefreshHeader.init();
          blinkeffect('img.red-light');
      });
    </script>
  </body>
</html>
